@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");
h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 48pt;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 32pt;
  }
}

.buttonMain {
  background-color: #FF9B25;
  color: white;
  padding: 10px 55px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-style: italic;
  font-size: 20pt;
  border-radius: 50px;
  border: none;
}

.buttonSecondary {
  background-color: #D8D8D8;
  color: white;
  padding: 10px 55px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-style: italic;
  font-size: 20pt;
  border-radius: 50px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.mainMenu {
  width: 100vw;
}

.mainMenu .homeLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainMenu .homeLink img {
  height: 50px;
  margin: auto;
  padding: 20px;
}

.ticketH-SVG {
  margin: auto;
  padding: 5px 50px;
  max-width: 1000px;
}

.ticketV-SVG {
  margin: auto;
  padding: 10px;
  max-width: 400px;
}

@media only screen and (max-width: 450px) {
  .ticketV-SVG {
    margin: auto;
    padding: 10px 5px 10px 5px;
    width: 320px;
  }
}

.ticketData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticketData .dataContainerL {
  padding-right: 50px;
}

.dataContainerL, .dataContainerR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dataContainerL h2, .dataContainerR h2 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: #EAEAEA;
  background-color: #FF9B25;
  font-weight: 600;
  font-size: 16pt;
  margin-bottom: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  line-height: 165%;
}

.dataContainerL h3, .dataContainerR h3 {
  font-family: 'Heebo', sans-serif;
  color: #FF9B25;
  font-weight: 500;
  font-size: 22pt;
  margin-bottom: 10px;
}

.dataContainerL p, .dataContainerR p {
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  font-weight: 400;
  font-size: 14pt;
}

.dataContainerL .itineraryFirstChild, .dataContainerR .itineraryFirstChild {
  margin-bottom: 5px;
}

.dataContainerL .itinerarySecondChild, .dataContainerR .itinerarySecondChild {
  margin-top: 0px;
}

.dataContainerL #farePrice, .dataContainerR #farePrice {
  margin-top: -20px;
  padding-top: 0px;
  font-weight: 700;
  font-size: 36pt;
  font-style: italic;
}

.dataContainerL #farePrice #currencyType, .dataContainerR #farePrice #currencyType {
  font-size: 18pt;
}

.sectionContainer .numHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.sectionContainer .numHeader h2 {
  margin-right: 20px;
}

.sectionContainer .sectionContent p {
  padding-left: 55px;
}

@media only screen and (max-width: 1150px) {
  .ticketData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ticketData .dataContainerL {
    padding-right: 0px;
  }
  .dataContainerL, .dataContainerR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dataContainerL h2, .dataContainerR h2 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #EAEAEA;
    background-color: #FF9B25;
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 0px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 185%;
  }
  .dataContainerL h3, .dataContainerR h3 {
    font-family: 'Heebo', sans-serif;
    color: #FF9B25;
    font-weight: 500;
    font-size: 20pt;
    margin-bottom: 10px;
  }
  .dataContainerL p, .dataContainerR p {
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-weight: 400;
    font-size: 12pt;
  }
  .dataContainerL #farePrice, .dataContainerR #farePrice {
    margin-top: -20px;
    padding-top: 0px;
    font-weight: 700;
    font-size: 36pt;
    font-style: italic;
  }
  .dataContainerL #farePrice #currencyType, .dataContainerR #farePrice #currencyType {
    font-size: 18pt;
  }
  .sectionContainer {
    margin-bottom: 25px;
  }
  .sectionContainer .numHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .sectionContainer .numHeader h2 {
    margin-right: 20px;
  }
  .sectionContainer .sectionContent p {
    padding-left: 55px;
  }
}

@media only screen and (max-width: 450px) {
  .dataContainerL h2, .dataContainerR h2 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #EAEAEA;
    background-color: #FF9B25;
    font-weight: 600;
    font-size: 12pt;
    margin-bottom: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 190%;
  }
  .dataContainerL h3, .dataContainerR h3 {
    font-family: 'Heebo', sans-serif;
    color: #FF9B25;
    font-weight: 500;
    font-size: 18pt;
    margin-bottom: 7px;
  }
  .dataContainerL p, .dataContainerR p {
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-weight: 400;
    font-size: 10pt;
  }
  .dataContainerL #farePrice, .dataContainerR #farePrice {
    margin-top: -20px;
    padding-top: 0px;
    font-weight: 700;
    font-size: 36pt;
    font-style: italic;
  }
  .dataContainerL #farePrice #currencyType, .dataContainerR #farePrice #currencyType {
    font-size: 18pt;
  }
  .sectionContainer {
    margin-bottom: 10px;
  }
  .sectionContainer .numHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .sectionContainer .numHeader h2 {
    margin-right: 10px;
  }
  .sectionContainer .sectionContent p {
    padding-left: 40px;
  }
}

#booking .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -350px;
}

#booking .data .dataChild {
  margin: 0 auto;
  padding-left: 50px;
}

#booking .bookingControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  margin-bottom: 100px;
}

#booking .bookingControls button {
  margin: 10px;
}

@media only screen and (max-width: 1150px) {
  #booking .data {
    margin-top: -850px;
  }
  #booking .data .dataChild {
    padding-left: 0px;
  }
  #booking .bookingControls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  #booking .bookingControls button {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #booking .data {
    margin-top: -700px;
  }
  #booking .data .dataChild {
    padding-left: 0px;
  }
  #booking .bookingControls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -30px;
  }
  #booking .bookingControls button {
    margin-bottom: 10px;
  }
}

.landingBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
}

#originHeader {
  margin-bottom: 0px;
}

.inputInstructions {
  font-size: 14pt;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-style: italic;
  margin: 0px;
}

.confirmationIcon {
  color: #FF9B25;
  margin-bottom: 10px;
}

.confirmationHeader {
  margin: 0px;
}
/*# sourceMappingURL=App.css.map */