.ticketData {
    display: flex;

    .dataContainerL {
        padding-right: 125px;
    }
}

.dataContainerL, .dataContainerR {

    display: flex;
    flex-direction: column;

    h2 {
        font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        color: color(ticket);
        background-color: color(orange);
        font-weight: 600;
        font-size: 16pt;
        margin-bottom: 0px; 
        width: 35px;
        height: 35px;
        border-radius: 50px;
        text-align: center;
        line-height: 165%;
    }

    h3 {
        font-family: 'Heebo', sans-serif;
        color: color(orange);
        font-weight: 500;
        font-size: 22pt;
        margin-bottom: 10px;
    }

    p {
        font-family: 'IBM Plex Mono', monospace;
        color: color(black);
        font-weight: 400;
        font-size: 14pt;
    }

    #farePrice {
        margin-top: -20px;
        padding-top: 0px;
        font-weight: 700;
        font-size: 36pt;
        font-style: italic;

        #currencyType {
            font-size: 18pt;
        }
    }
}

.sectionContainer {

    .numHeader {
        display: flex;
        align-items: center;
        height: 30px;

        h2 {
            margin-right: 20px;
        }

    }

    .sectionContent {

        p {
            padding-left: 55px;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .ticketData {
        display: flex;
        flex-direction: column;
    
        .dataContainerL {
            padding-right: 0px;
        }
    }

    .dataContainerL, .dataContainerR {

        display: flex;
        flex-direction: column;
    
        h2 {
            font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
            color: color(ticket);
            background-color: color(orange);
            font-weight: 600;
            font-size: 14pt;
            margin-bottom: 0px; 
            width: 35px;
            height: 35px;
            border-radius: 50px;
            text-align: center;
            line-height: 185%;
        }
    
        h3 {
            font-family: 'Heebo', sans-serif;
            color: color(orange);
            font-weight: 500;
            font-size: 20pt;
            margin-bottom: 10px;
        }
    
        p {
            font-family: 'IBM Plex Mono', monospace;
            color: color(black);
            font-weight: 400;
            font-size: 12pt;
        }
    
        #farePrice {
            margin-top: -20px;
            padding-top: 0px;
            font-weight: 700;
            font-size: 36pt;
            font-style: italic;
    
            #currencyType {
                font-size: 18pt;
            }
        }
    }
    
    .sectionContainer {
        margin-bottom: 25px;
    
        .numHeader {
            display: flex;
            align-items: center;
            height: 30px;
    
            h2 {
                margin-right: 20px;
            }
    
        }
    
        .sectionContent {
    
            p {
                padding-left: 55px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {

    .dataContainerL, .dataContainerR {
    
        h2 {
            font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
            color: color(ticket);
            background-color: color(orange);
            font-weight: 600;
            font-size: 12pt;
            margin-bottom: 0px; 
            width: 30px;
            height: 30px;
            border-radius: 50px;
            text-align: center;
            line-height: 190%;
        }
    
        h3 {
            font-family: 'Heebo', sans-serif;
            color: color(orange);
            font-weight: 500;
            font-size: 18pt;
            margin-bottom: 7px;
        }
    
        p {
            font-family: 'IBM Plex Mono', monospace;
            color: color(black);
            font-weight: 400;
            font-size: 10pt;
        }
    
        #farePrice {
            margin-top: -20px;
            padding-top: 0px;
            font-weight: 700;
            font-size: 36pt;
            font-style: italic;
    
            #currencyType {
                font-size: 18pt;
            }
        }
    }
    
    .sectionContainer {
        margin-bottom: 10px;
    
        .numHeader {
            display: flex;
            align-items: center;
            height: 30px;
    
            h2 {
                margin-right: 10px;
            }
    
        }
    
        .sectionContent {
    
            p {
                padding-left: 40px;
            }
        }
    }
}