.ticketV-SVG {
    margin: auto;
    padding: 10px;
    max-width: 400px;
}

@media only screen and (max-width: 450px) {
    .ticketV-SVG {
        margin: auto;
        padding: 10px 5px 10px 5px;
        width: 320px;
    }
}