#booking {
    


        .renderData {
            display: flex;
            flex-direction: column;
            margin-top: -250px;
            margin-bottom: 200px;

            h3, h4 {
                margin: auto;
                
                text-align: left;
            }

            h3 {
                font-family: 'Heebo';
                color: color(orange);
                font-weight: 700;
                font-size: 18pt;
            }

            h4 {
                font-family: 'IBM Plex Mono';
                color: color(black);
                font-weight: 600;
                font-size: 32pt;
            }
        }



    .bookingControls {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    
        button {
            margin: 10px;
        }
    }
}

