#booking {

    .data {
        display: flex;
        align-items: center;

        margin-top: -350px;

        .dataChild {
            margin: 0 auto;
            padding-left: 50px;
        }
    }
    


    .bookingControls {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
    
        button {
            margin: 10px;
        }
    }
}

