#booking {

    .data {
        display: flex;
        align-items: center;

        margin-top: -350px;

        .dataChild {
            margin: 0 auto;
            padding-left: 50px;
        }
    }
    


    .bookingControls {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
        margin-bottom: 100px;
    
        button {
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 1150px) {

    #booking {
        .data {

            margin-top: -850px;
    
            .dataChild {
                padding-left: 0px;
            }
        }

        .bookingControls {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
        
            button {
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    #booking {
        .data {

            margin-top: -700px;
    
            .dataChild {
                padding-left: 0px;
            }
        }

        .bookingControls {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -30px;
        
            button {
                margin-bottom: 10px;
            }
        }
    }
}

