button.buttonMain {
    background-color: #FF9B25;
    color: white;
    padding: 15px 55px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 24pt;
    border-radius: 50px;
    border: none;
}

.buttonSecondary {
    
}