$colors: (
  black: black,
  white: white,
  orange: #ff9b25,
  grey: #d8d8d8,
  darkGrey: #CECECE,
  ticket: #eaeaea,
  error: #fb0d0d,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
