//Run Away Brand Typefaces


//IBM Plex Mono
//use with name: 'IBM Plex Mono', weights: 300-700
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

//Heebo
//use with name: 'Heebo', weights: 400-700
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 48pt;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 32pt;
    }
}
